<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>

    <script src="js/firebase.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="gChat">

    <div id="main" ng-controller="MainCtrl">
      <div id="header"></div>
      <div id="topic">
        <div class="wrapper" ng-repeat="m in messages track by $index">
          <div class="message" ng-class="m.from">
            {{m.text}}
          </div>
        </div>
      </div>
      <div id="input">
        <form ng-submit="test()">
          <input type="text" ng-model="message"></input>
        </form>
        <div id="suggestions" ng-repeat="suggestion in suggestions">
          {{suggestion}}
        </div>
      </div>
    </div>

  </body>
</html>
